<footer>
  <div class="col-md-4 leftFooter">
    <span> <i class="fa-solid fa-copyright"></i> 2022 <strong>Los3Mosqueteros</strong>, Inc </span>
  </div>

  <div class="col-md-4 d-flex justify-content-center">
    <img src="assets/images/logo3mosqueteros.png" width="100px">
  </div>

  <ul class="col-md-4 justify-content-end d-flex">
    <li>
      <i class="fa-solid fa-microphone-lines"></i>
    </li>
    <li>
      <i class="fa-solid fa-podcast"></i>
    </li>
    <li>
      <i class="fa-solid fa-radio"></i>
    </li>
  </ul>
</footer>
