<div class="container-fluid">
    <div class="row justify-content-evenly">

      <h1 class="titleRow">Novedades<hr></h1>

      <div class="col">
        <app-song-card class="songCard" [song]="song"></app-song-card>
      </div>

      <div class="col">
        <app-song-card class="songCard" [song]="song"></app-song-card>

      </div>

      <div class="col">
        <app-song-card class="songCard" [song]="song"></app-song-card>
      </div>

      <div class="col">
        <app-song-card class="songCard" [song]="song"></app-song-card>
      </div>

      <div class="col">
        <app-song-card class="songCard" [song]="song"></app-song-card>
      </div>


  </div>
</div>
