<div class="container-fluid">

  <hr>

  <div class="row songsHeader">
    <div class="col">
      <h1>Novedades</h1>
    </div>
    <div class="col d-flex justify-content-end">

      <p-autoComplete styleClass="inputClass" type="search" [(ngModel)]="selectedStyle" name="selectedStyle"
                      [suggestions]="styles" (completeMethod)="getAllStyles($event)" placeholder="Estilo..."
                      field="name" (onSelect)="styleSelected();" (onClear)="onClear()"></p-autoComplete>
    </div>
  </div>

  <hr>

  <div class="row justify-content-evenly">
    <div class="col" *ngFor="let song of songList">
      <app-song-card class="songCard" [song]="song" [routerLink]="['songs',song.id]"></app-song-card>
    </div>
  </div>

  <hr>

  <div class="row songsHeader">
    <div class="col">
      <h1>Más Escuchadas</h1>
    </div>
  </div>

  <hr>

  <div class="row justify-content-evenly">
    <div class="col" *ngFor="let song of mostReproducedSongs">
      <app-song-card class="songCard" [song]="song" [routerLink]="['songs',song.id]"></app-song-card>
    </div>
  </div>

  <hr>

  <div class="row songsHeader">
    <div class="col">
      <h1>Mejor valoradas</h1>
    </div>
  </div>

  <hr>

  <div class="row justify-content-evenly">
    <div class="col" *ngFor="let songRated of songListRated">
      <app-song-card class="songCard" [song]="songRated" [routerLink]="['songs',songRated.id]"></app-song-card>
    </div>
  </div>

  <hr>
  <div class="row songsHeader">
    <div class="col">
      <h1>Recomendadas para tí</h1>
    </div>
  </div>

  <hr>
  <div class="row justify-content-evenly">
    <div class="col" *ngFor="let songRecommended of songListRecommended">
      <app-song-card class="songCard" [song]="songRecommended" [routerLink]="['songs',songRecommended.id]"></app-song-card>
    </div>
  </div>
</div>
