
<button (click)="createSongModal()">Crear</button>
<div class="container-fluid">
  <div class="row justify-content-evenly">

    <h1 class="titleRow">Listado de canciones<hr></h1>

    <div class="col" *ngFor="let song of songList">
      <app-song-card class="songCard" [admin]="true" [song]="song"
                     (delete)="deleteSong($event)"
                     (editSongModal)="editSongModal($event)"
      ></app-song-card>
    </div>
  </div>

  <div class="paginationButtons">
    <button [disabled]="first" class="btn btn-secondary btnPrevious" (click)="previousPage()">Anterior</button>
    <span>Pagina {{(page+1)}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
    <button [disabled]="last" class="btn btn-secondary btnNext" (click)="nextPage()">Siguiente</button>
  </div>
</div>


