.container-fluid {
  .dark-style {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1rem;
    font-weight: 400;
    height: 45px;
    border: var(--border-dark-primary);
    box-shadow: var(--box-shadow-dark-primary);
    background: transparent;
    color: var(--color-segundary);
    width: 100%;
    min-width: 200px;
  }

  .dark-style:focus, .dark-style:hover, .dark-style:focus, .dark-style:hover {
    top: 2px;
    left: 1px;
    box-shadow: none;
  }

  .filters {

    label {
      letter-spacing: 1px;
      display: block;
      color: var(--color-segundary);
      margin-left: 10px;
    }

  }

  .songsHeader {
    h1 {
      color: var(--color-segundary);
      margin: 0;
      width: 100%;
    }
    button {
      max-width: 400px;
    }
  }

  .col {
    margin: 10px 0;
  }

  .cards {
    .songCard {
      display: flex;
      justify-content: center;
    }
  }

  .paginationButtons {
    button {
      width: auto;
    }

    span {
      color: var(--color-segundary);
      margin: auto 10px;
      text-align: center;
    }
  }

  hr {
    height: 2px;
    opacity: 1;
    color: var(--color-segundary);
  }
}
