<nav class="navbar navbar-expand-lg navbar-dark  ml-auto">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img id="logoNav" src="assets/images/logo3mosqueteros.png" height="70">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <button class="nav-link dropdown-trigger button" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Filtrado
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Estilos</a></li>
            <li><a class="dropdown-item" href="#">Artistas</a></li>
            <li><a class="dropdown-item" href="#">Canciones</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <input class="form-control button input-filter" type="search" placeholder="Filtrar..." aria-label="Search">
        </li>
      </ul>

    </div>
  </div>
</nav>
