<div class="authPopUp">
  <div class="profilesContent">
    <div class="userProfiles">
      <img src="assets/images/userImg.png">
      <h2>ADMIN</h2>
    </div>
    <div class="userProfiles">
      <img src="assets/images/userImg.png">
      <h2>LUCAS</h2>
    </div>
    <div class="userProfiles">
      <img src="assets/images/userImg.png">
      <h2>CARLOS</h2>
    </div>
    <div class="userProfiles">
      <img src="assets/images/userImg.png">
      <h2>ALEJANDRO</h2>
    </div>

  </div>
</div>
