.form-container {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 3px 0 rgba(255, 255, 255, 1);
  border: 2px solid white;
  background: transparent;
  color: black;

  .row {
    margin: 20px 0;

    label {
      display: block;
      color: white;
      letter-spacing: 2px;
    }

    input {
      min-height: 30px;
      padding-left: 5px;
      padding-right: 5px;
      letter-spacing: .5px;
      border: 0;
      border-bottom: 4px solid #f0f0f0;
    }

    input:valid {
      border-color: #24cf5f;
    }

    input:focus {
      outline: none;
      box-shadow: none;
      border-color: #fbcf34;
    }
  }
}

:host ::ng-deep {
  .inputClass.p-autocomplete {
    width: 100%;
    .p-inputtext {
      position: relative;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 17px;
      font-weight: 500;
      border-radius: 8px;
      height: 45px;
      box-shadow: 2px 3px 0 rgba(255, 255, 255, 1);
      border: 2px solid white;
      background: transparent;
      color: white;
    }

    .p-inputtext:valid {
      box-shadow: 2px 3px 0 #24cf5f;
    }

    .p-inputtext:focus,.p-inputtext:hover {
      top: 2px;
      left: 1px;
      box-shadow: none;
    }
  }
}
