<div class="form-container">
  <form #songForm="ngForm" name="songForm" role="form" novalidate autocomplete="off">

    <h1>Editar/Crear</h1>

    <div class="row">

      <label for="artist" class="labels">Artista</label>
      <p-autoComplete id="artist"  name="selectedArtist" [(ngModel)]="selectedArtist" [suggestions]="artists"
                      (completeMethod)="getAllArtist($event)" field="name" (onSelect)="artistSelected();"
                      [required]="true"></p-autoComplete>

      <label for="album" class="labels">Album</label>
      <p-autoComplete id="album" name="selectedAlbum" [(ngModel)]="selectedAlbum" [suggestions]="albums"
                      (completeMethod)="getAllAlbums($event)" field="title" (onSelect)="albumSelected()"
                      [required]="true"></p-autoComplete>


      <label for="style" class="labels">Estilo</label>
      <p-autoComplete id="style" name="selectedStyle" [(ngModel)]="selectedStyle" [suggestions]="styles"
                      (completeMethod)="getAllStyles($event)" field="name" (onSelect)="styleSelected();"
                      [required]="true"></p-autoComplete>


      <span class="p-float-label">
             <input id="name" type="text" pInputText [(ngModel)]="song.name" name="songName">
              <label for="name">Nombre</label>
            </span>

      <span class="p-float-label">
            <input id="song-duration" type="text" name="duration" pInputText [(ngModel)]="song.duration">
            <label for="song-duration">duración en minutos</label>
          </span>


    </div>
    <input type="file" id="imagen" (change)="selectImage($event);">
    <button type="button" class="btn btn-primary" (click)="saveSong()" [disabled]="songForm.invalid">Save changes</button>

  </form>


</div>


