<div class="form-container">
  <form #songForm="ngForm" *ngIf="song" name="songForm" role="form" novalidate autocomplete="off">

    <h1>Editar/Crear</h1>
    <div *ngIf="song.image"><img width="100px" [src]="'data:image/png;base64,'+ song.image"></div>
    <div class="row">
      <div class="col-md-6">
        <label for="name" class="form-label">Nombre</label>
        <input id="name" class="form-control" type="text" name="songName" [(ngModel)]="song.name" >
      </div>

      <div class="col-md-6">
        <label for="song-duration" class="form-label">Duración en minutos</label>
        <input id="song-duration" class="form-control" type="text" name="duration" [(ngModel)]="song.duration">
      </div>
    </div>

    <app-filters
      (artist)="getArtist($event)"
      (style)="getStyle($event)"
      (album)="getAlbum($event)"
      [song]="song"></app-filters>

    <input type="file" id="imagen" (change)="selectImage($event);">

    <button type="button" class="btn btn-primary" (click)="saveSong()" [disabled]="songForm.invalid">Guardar</button>

  </form>


</div>


