.col-md-4 {
  margin: 10px 0;
}

:host ::ng-deep {
  .inputClass.p-autocomplete {
    width: 100%;
    .p-inputtext {
      width: 100%;
    }
    .p-autocomplete-panel {
      height: 140px;
    }
  }
}
