<div class="row">
  <div class="col-md-4">
    <label for="artist" class="form-label">Artista</label>
    <p-autoComplete styleClass="inputClass" id="artist"  name="selectedArtist" [(ngModel)]="selectedArtist" [suggestions]="artists"
                    (completeMethod)="getAllArtists($event)" field="name" (onSelect)="artistSelected();"
                    [forceSelection]="true" [required]="true"></p-autoComplete>
  </div>

  <div class="col-md-4">
    <label for="album" class="form-label">Album</label>
    <p-autoComplete styleClass="inputClass" id="album" name="selectedAlbum" [(ngModel)]="selectedAlbum" [suggestions]="albums"
                    (completeMethod)="getAllAlbums($event)" field="title" (onSelect)="albumSelected()"
                    [forceSelection]="true" [required]="true"></p-autoComplete>
  </div>


  <div class="col-md-4">
    <label for="style" class="form-label">Estilo</label>
    <p-autoComplete styleClass="inputClass" id="style" name="selectedStyle" [(ngModel)]="selectedStyle" [suggestions]="styles"
                    (completeMethod)="getAllStyles($event)" field="name" (onSelect)="styleSelected();"
                    [forceSelection]="true" [required]="true"></p-autoComplete>
  </div>
</div>
