.song {
  position: relative;
  margin: 5%;
  padding: 5%;
  border: var(--border-dark-primary);
  background-color: var(--single-song-bg-color);
  box-shadow: var(--single-song-box-shadow);

  .song-image {
    img {
      box-shadow: 0 0 0 5px rgba(51, 51, 51, 0.7);
      width: 100%;
      height: 300px;
    }
  }

  .info {
    margin: 10px 0;
    .icon-buton {
      position: relative;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      background-color: var(--color-primary);
      border: none;
      box-shadow: var(--box-shadow-dark-primary);

      i {
        margin: auto;
        font-size: 30px;
        color: var(--color-segundary);
      }
    }
    .icon-buton:hover {
      top: 2px;
      left: 1px;
      box-shadow: none;
    }
  }
}

.light-style {
  position: absolute;
  width: fit-content;
  margin: 20px;
  right: 0;
  top: 0;
  border-radius: 50%;
  background-color: darkred;
  border: 0;
}

@supports(object-fit: cover){
  .song-image img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
