.card {
  transition: all 300ms;
  box-shadow: 15px 15px 10px #191919, -15px -15px 10px #292929;
  width: 100%;

  .card-img-top {
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 10px #191919, -15px -15px 10px #292929;
}
