<div class="container">
  <div class="row">

    <div class="col-md-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="	https://newjams-images.scdn.co/v3/release-radar/ab6761610000e5eb12a2ef08d00dd7451a6dbed6/en/large" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="	https://newjams-images.scdn.co/v3/release-radar/ab6761610000e5eb12a2ef08d00dd7451a6dbed6/en/large" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="	https://newjams-images.scdn.co/v3/release-radar/ab6761610000e5eb12a2ef08d00dd7451a6dbed6/en/large" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card">
        <img class="card-img-top" src="	https://newjams-images.scdn.co/v3/release-radar/ab6761610000e5eb12a2ef08d00dd7451a6dbed6/en/large" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Primary card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>

  </div>
</div>
