

<div class="card" *ngIf="song">
  <div class="card-image" (click)="openMe()">
    <img class="card-img" [src]="song.image" [alt]="song.name">
   <!-- <div class="card-img-overlay">
      <h4 class="card-title">{{song.artist!.artistName}}</h4>
    </div>-->
  </div>

  <div *ngIf="admin" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" class="close">
    <i class="fa-solid fa-xmark"></i>
  </div>

  <div class="card-body" (click)="openMe()">
    <h4 class="card-title">{{song.name}}</h4>
    <p class="card-text">{{song.album.title}}</p>
  </div>
</div>

<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar el registro seleccionado? Esta operación no puede deshacerse
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteMe();">Eliminar</button>
      </div>
    </div>
  </div>
</div>



